@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <div style="width:80%; height:500px;margin-left:120px;">
        <div id="stockContainer" style="width:100%; height:400px;">

        </div>
        <div id="stockCards">
            <div class="row">
                <div class="card col-md-4" style="width: 18rem;">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Stock Code</span>
                            </div>
                            <input id="code" type="text" class="form-control" aria-describedby="basic-addon1">

                            <button id="addStock" type="button" class="btn btn-outline-success">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script>

    $("#addStock").on('click', function () {
        var code = $('#code').val();
        var url = '@Url.Action("GetData", "Stock")';
        $.ajax({
            url: url,
            type: "GET",
            data: {code:code},

            success: function (data) {
               

                options.series.push({ name: data.code, data: JSON.parse(data.data) });

                addStockCard(data.code, data.description);

                Highcharts.chart('stockContainer', options);
            }
        });
    });

    function addStockCard(code, description) {

        
        $.get("@Url.Action("GetStockCard", "Stock")", { code: code, description: description })
            .done(function (data) {
                $('#stockCards').find(".row:last-child").append(data);

                $(".close").on("click", function (e) {
                    var code = e.target.dataset.content;
                    $('.' + code).remove();
                    var remainingCompanies = options.series.filter(n => n.name != code);

                    options.series = remainingCompanies;

                    Highcharts.chart('stockContainer', options);
                });
            })
    }

    var options = {
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(200, 200, 255)']
                ]
            },
            polar: true,
            type: 'line'
        },
        title: {
            text: 'Stocks'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        }, 
        tooltip: {
            //backgroundColor: 'rgba(0, 0, 0, 0.85)',
            //style: {
            //    color: '#F0F0F0'
            //},
            shared: true,
            crosshairs: true
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: true
                },
                pointStart: Date.UTC(2017, 9, 27),
                pointInterval: 24 * 3600 * 1000, // one day
                pointEnd: Date.UTC(2018, 4, 27)
            }
        },

        series: [],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                }
            }]
        }

    };
    Highcharts.chart('stockContainer', options);
</script>
